.container{
    box-sizing: border-box;
    border: black 4px solid;
    box-shadow: black 4px 4px;
    margin: 0px auto;
    margin-top: 80px;
    height: 350px;
    width: 400px;
    text-align: center;

}
.container h1{
    padding: 20px;
}

form{
    margin-top: 10px;
}
.container  h4{
    padding: 5px;
    margin-right: 200px;
}

.container input{
    padding: 10px;
    border-radius: 5px 8px;
 
}

.container button{
    padding: 5px;
    border-radius: 5px 8px;
    margin-top: 20px;
    margin-left: 20px;
}

.container a{
    margin-left: 20px;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px 8px;
    border: black 1.5px solid;
}
